/dist/
/node_modules/
/.vscode/
/.idea/

# local env files
.env.local
.env.*.local

# Log files
*.log*

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# for example
/local-map-serve/1/
/local-map-serve/2/
/local-map-serve/3/
/local-map-serve/4/
/local-map-serve/5/
/local-map-serve/6/
/local-map-serve/7/
/local-map-serve/8/
/local-map-serve/9/
